.full-order-card {
    background: #f9fafb;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-family: system-ui, sans-serif;
    width: 600px;
    margin: 0 auto;
}

.full-order-card h2 {
    color: black;
}

