.order-card{
    border: 1px solid black;
    border-radius: 36px;
    padding-left: 20px;
    max-height: 300px;
    width: 500px;
    color: black;
    background-color: #f7f5ef;
    margin: 20px auto;
}

